extends layout

block content
  div.col-sm-10(id='content')
    div
      hr
      ul.breadcrumb
        li
          a(href='/') Domů
        li
          a Debug
        li
          a(href='/debug/i2c') i2c
      hr
    div.row
      div.col-lg-12
        div.box
          div.box-header
          div.box-content     