extends layout

block content
  div.col-sm-10(id='content')
    div
      hr
      ul.breadcrumb
        li
          a(href='/') Domů
        li
          a Debug
        li
          a(href='/debug/i2c') i2c
      hr
    div.row
      div.col-lg-12
        div.box
          div.box-header
            h2
              i.fa.fa-align-justify
              span.break
              | i2c PWM Driver
            div.box-icon
          div.box-content            
            table.table.table-bordered.table-striped.bootstrap-datatable.datatable.dataTable
              thead
                tr(role='row')
                  th(style='width: 100px;') Kanál
                  th Hodnota
              tbody
                - var i = 0
                while i < 8
                  tr
                    td= i
                    td
                      label.switch.switch-success
                        input.switch-input.i2cCheckbox(type='checkbox', id='i2cCheckbox' + i, data-id=i)
                        span.switch-label(data-on='ON' data-off='OFF')
                        span.switch-handle
                  - i++
                while i < 16
                  tr
                    td= i
                    td
                      div.slider.i2cSlider.sliderGreen.ui-slider.ui-slider-horizontal.ui-widge.ui-widget-content.ui-corner-all(aria-disabled='false', id='i2cSlider' + i, data-id=i)
                        div.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min
                        a.ui-slider-handle.ui-state-default.ui-corner-all
                      div.field_notice
                        span.must(id='i2cSlider' + i + 'Label') 0%
                  - i++