extends layout

block content
  div.navbar
    div.container
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.sidebar-nav.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand
        span Reef Monitor
