extends layout

block content
  div.col-sm-10(id='content')
    div
      hr
      ul.breadcrumb
        li
          a(href='#') Domů
        li
          a(href='#') Nástěnka
      hr
    div.row.circleStats