doctype 5
html
  head
    title= title
    meta(name='description' content='Reef Monitor - best monitor and controller of your aquarium')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.3.custom.min.css')
    link(rel='stylesheet', href='/stylesheets/fullcalendar.css')
    link(rel='stylesheet', href='/stylesheets/jquery.gritter.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    script(src='/javascripts/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content
