doctype html
html
  head
    title= title
    meta(name='description' content='Reef Monitor - best monitor and controller of your aquarium')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.3.custom.min.css')
    link(rel='stylesheet', href='/stylesheets/fullcalendar.css')
    link(rel='stylesheet', href='/stylesheets/jquery.gritter.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    //
      [if lt IE 9 ]>
      link(rel='stylesheet', href='/stylesheets/style-ie.css')
      <![endif]
    //
      [if lt IE 9 ]>
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='/js/respond.min.js')
    link(rel='shortcut icon', href='favicon.ico')
  body
    block content
